.homelink,
.icon {
  position: relative;
}
.homelink {
  line-height: 150%;
  font-weight: 500;
  cursor: pointer;
}
.icon {
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.categorylink {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  color: var(--base-dark-green);
  cursor: pointer;
}
.div,
.navpath {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.div {
  flex-shrink: 0;
  gap: var(--gap-6xs);
}
.navpath {
  align-self: stretch;
  background-color: var(--gray-light-gray-50);
  padding: var(--padding-mini) var(--padding-3xs);
  text-align: left;
  font-size: var(--textbold-size);
  color: var(--gray-dark-gray);
  font-family: var(--ancien-base-textbaseboldordi);
}
.text {
  position: relative;
  line-height: 150%;
}
.badge {
  border-radius: var(--br-21xl);
  background-color: var(--base-dark-green);
  border: 1px solid var(--gray-light-gray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
}
.text1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 600;
  font-family: inherit;
}
.productsnumber,
.title {
  display: flex;
  flex-shrink: 0;
}
.title {
  width: 476px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.productsnumber {
  position: relative;
  font-size: var(--textlargebold-size);
  line-height: 150%;
  font-weight: 600;
  color: var(--gray-dark-gray);
  text-align: left;
  align-items: flex-end;
  width: 126px;
  height: 29px;
}
.div2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.divChild {
  width: 100%;
  position: relative;
  max-width: 400px;
  overflow: hidden;
  max-height: 100%;
  min-width: 200px;
}
.decofinderVousPropose {
  display: block;
}
.paragraph {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--textbold-size);
  line-height: 150%;
  white-space: pre-wrap;
  text-align: left;
}
.description,
.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.div1 {
  width: 100%;
  max-width: 800px;
  text-align: center;
  font-size: var(--h2-size);
  color: var(--base-dark-green);
}
.description {
  align-self: stretch;
  background-color: var(--gray-light-gray-50);
  border-bottom: 2px solid var(--gray-light-gray-100);
  padding: var(--padding-31xl) var(--padding-3xs);
  text-align: left;
  font-size: var(--textbold-size);
  color: var(--blanc);
  font-family: var(--ancien-base-textbaseboldordi);
}
.divIcon,
.text2 {
  position: relative;
}
.text2 {
  flex: 1;
  line-height: 130%;
  font-weight: 600;
}
.divIcon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.title1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--ancien-base-textbaseboldordi-size);
}
.text3,
.text4 {
  position: relative;
  line-height: 130%;
}
.text4 {
  font-size: var(--ancien-normal-textnormaltablette-size);
  line-height: 150%;
  color: var(--gray-dark-gray);
  text-align: right;
}
.textParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frameIcon {
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.contenus {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.divIcon1 {
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.catgories,
.filter {
  align-self: stretch;
  display: flex;
}
.filter {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.catgories {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--ancien-base-textbasetablette-size);
}
.divIcon4,
.leftfiltersChild {
  position: relative;
  overflow: hidden;
}
.leftfiltersChild {
  align-self: stretch;
  max-width: 100%;
  max-height: 100%;
}
.divIcon4 {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  object-fit: contain;
}
.domaines {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.input {
  outline: 0;
  font-family: var(--ancien-base-textbaseboldordi);
  font-size: var(--ancien-normal-textnormaltablette-size);
  padding: var(--padding-5xs) var(--padding-3xs);
  color: var(--gray-dark-gray);
  border: 0;
  width: 100%;
  height: 100%;
  background: 0 0;
  position: relative;
  z-index: 3;
}
.divIcon6,
.wrapperInputChild {
  position: absolute;
  overflow: hidden;
}
.divIcon6 {
  width: 4%;
  height: 14px;
  flex-shrink: 0;
  z-index: 1;
  left: 10px;
  top: 12px;
  pointer-events: none;
}
.wrapperInputChild {
  max-width: 100%;
  height: 22px;
  object-fit: cover;
  z-index: 2;
  left: 34px;
  top: 8px;
}
.wrapperInput {
  position: relative;
  border: 1px solid var(--gray-light-gray-200);
  background-color: var(--gray-light-gray-50);
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.checkbox {
  margin: 0;
}
.checkbox,
.instanceChild {
  border-radius: var(--br-8xs);
  border: 1px solid var(--grisfonc3);
  box-sizing: border-box;
  width: 14px;
  height: 14px;
}
.frameParent {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.checkbox2,
.div7 {
  display: flex;
  justify-content: center;
}
.checkbox2 {
  margin: 0;
  border-radius: var(--br-8xs);
  background-color: var(--base-green);
  border: 1px solid var(--base-green);
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  flex-direction: row;
  align-items: center;
}
.div7 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.divInner,
.divItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--gray-light-gray-100);
  width: 5px;
  height: 135px;
}
.divInner {
  background-color: var(--base-green);
  height: 17.3px;
}
.div13 {
  align-self: stretch;
  position: relative;
  width: 5px;
}
.filters,
.marques {
  align-self: stretch;
  display: flex;
  gap: var(--gap-3xs);
}
.filters {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--ancien-base-textbasetablette-size);
}
.marques {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.titleChild {
  position: relative;
  max-height: 100%;
  width: 60px;
  object-fit: cover;
}
.div15 {
  border-radius: var(--br-8xs);
  background-color: var(--base-dark-green);
  border: 1px solid var(--base-dark-green);
  flex-shrink: 0;
}
.titleInner,
.titleItem {
  position: relative;
  max-height: 100%;
}
.titleItem {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.titleInner {
  width: 27px;
  object-fit: contain;
}
.minimumpriceinput,
.title4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.title4 {
  align-self: stretch;
}
.minimumpriceinput {
  border: 1px solid var(--gray-light-gray-200);
  outline: 0;
  font-family: var(--ancien-base-textbaseboldordi);
  font-size: var(--ancien-normal-textnormaltablette-size);
  background-color: var(--gray-light-gray-50);
  flex: 1;
  border-radius: var(--br-3xs);
  flex-shrink: 0;
  padding: var(--padding-5xs) var(--padding-3xs);
  color: var(--base-dark-green);
}
.filterprice,
.leftfilters {
  display: flex;
  gap: var(--gap-mini);
}
.filterprice {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--ancien-normal-textnormaltablette-size);
}
.leftfilters {
  background-color: var(--white-black-pure-white);
  border: 1px solid var(--gray-light-gray-200);
  box-sizing: border-box;
  width: 390px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl);
}
.productsnumber9,
.title10 {
  position: relative;
  line-height: 100%;
}
.title10 {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.productsnumber9 {
  font-size: var(--ancien-large-textlargeboldodri-size);
  color: var(--gray-dark-gray);
}
.div18,
.text23 {
  align-self: stretch;
}
.div18 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.text23 {
  position: relative;
  font-size: var(--ancien-large-textlargeboldodri-size);
  line-height: 100%;
  color: var(--gray-dark-gray);
}
.imgIcon,
.title11 {
  align-self: stretch;
  overflow: hidden;
  cursor: pointer;
}
.imgIcon {
  border-radius: var(--br-base) var(--br-base) 0 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.title11 {
  position: relative;
  font-size: var(--textlargebold-size);
  line-height: 150%;
  font-weight: 600;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipseIcon {
  position: relative;
  border-radius: 50%;
  width: 6px;
  height: 6px;
}
.typeprod {
  flex: 1;
  position: relative;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.div22,
.div23 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.div23 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.div22 {
  flex-direction: column;
  align-items: flex-start;
}
.productsnumber10 {
  position: relative;
  line-height: 150%;
  color: var(--gray-dark-gray);
}
.card,
.div20,
.div21 {
  display: flex;
  flex-direction: column;
}
.div21 {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
}
.card,
.div20 {
  align-items: flex-start;
  justify-content: flex-start;
}
.div20 {
  align-self: stretch;
  border-radius: 0 0 var(--br-base) var(--br-base);
  border: 1px solid var(--gray-light-gray-200);
  padding: var(--padding-xl);
}
.card {
  border-radius: var(--br-base);
  width: 257px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--textbold-size);
  color: var(--base-dark-green);
  font-family: var(--ancien-base-textbaseboldordi);
}
.categories,
.div19 {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
}
.div19 {
  overflow-x: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.categories {
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-31xl) var(--padding-3xs);
}
.marquesRevendues {
  font-weight: 600;
}
.span {
  font-weight: 500;
  color: var(--gray-dark-gray);
  font-size: var(--ancien-large-textlargeboldodri-size);
}
.divIcon14 {
  border-radius: var(--br-31xl);
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.divIcon15 {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.div84 {
  border-radius: var(--br-31xl);
  background-color: var(--gray-light-gray-50);
  border: 1px solid var(--gray-light-gray-200);
  box-sizing: border-box;
  width: 51px;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-mini)
    var(--padding-lg);
}
.div83,
.div84,
.title20 {
  display: flex;
  flex-direction: row;
}
.div83 {
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  opacity: 0;
}
.title20 {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}
.logoIcon {
  border-radius: var(--br-3xs);
  width: 212.2px;
  height: 90px;
  flex-shrink: 0;
  object-fit: cover;
  min-width: 180px;
  cursor: pointer;
}
.div85,
.logos {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.div85 {
  overflow-x: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap-xl);
}
.logos {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-16xl);
}
.text25 {
  flex: 1;
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.title21 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--h2-size);
}
.fixedAspectRatioSpacerVar {
  align-self: stretch;
  border-radius: var(--br-base) var(--br-base) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.badge1 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 var(--br-base) 0 var(--br-base);
  background-color: var(--white-black-pure-white);
  border: 1px solid var(--gray-light-gray-200);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  z-index: 1;
}
.slider,
.text27 {
  align-self: stretch;
  position: relative;
}
.slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text27 {
  margin: 0;
  line-height: 150%;
}
.description1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.div86,
.previewIcon {
  width: 35px;
  height: 35px;
}
.previewIcon {
  border-radius: var(--br-31xl);
  object-fit: contain;
}
.div86 {
  border-radius: var(--br-8xs);
  flex-direction: column;
  justify-content: center;
}
.div86,
.div87,
.pagination {
  display: flex;
  align-items: center;
}
.div87 {
  border-radius: var(--br-8xs);
  background-color: var(--gray-light-gray-50);
  border: 1px solid var(--gray-light-gray-200);
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
}
.pagination {
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.nextIcon {
  border-radius: var(--br-31xl);
  width: 35px;
  height: 35px;
}
.nextpreview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.frameIcon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text33 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.button,
.button1 {
  border-radius: var(--br-3xs);
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}
.button {
  background-color: var(--gray-light-gray-50);
  border: 1px solid var(--gray-light-gray-200);
  box-sizing: border-box;
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 var(--padding-11xl);
  color: var(--base-dark-green);
}
.button1 {
  background-color: var(--base-green);
  flex-shrink: 0;
  padding: var(--padding-lg) var(--padding-11xl);
  gap: var(--gap-mini);
}
.button1,
.button2,
.buttons,
.premuims {
  display: flex;
  align-items: center;
}
.button2 {
  border-radius: var(--br-3xs);
  background-color: var(--base-dark-green);
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-11xl);
  gap: var(--gap-mini);
}
.buttons,
.premuims {
  align-self: stretch;
  gap: var(--gap-xl);
}
.buttons {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: var(--textlargebold-size);
  color: var(--white-black-pure-white);
}
.premuims {
  flex-direction: column;
  justify-content: center;
  font-size: var(--textbold-size);
}
.imgIcon9 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  height: 277px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
  z-index: 0;
}
.badge2 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 var(--br-base) 0 var(--br-base);
  background-color: var(--base-dark-green);
  border: 1px solid var(--gray-light-gray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xl);
  z-index: 1;
}
.coeurIcon,
.text39 {
  position: relative;
  overflow: hidden;
}
.text39 {
  flex: 1;
  line-height: 150%;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.coeurIcon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
.exposantname {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--textlargebold-size);
}
.priceproduct,
.typeproductname {
  position: relative;
  line-height: 150%;
}
.typeproductname {
  align-self: stretch;
  color: var(--gray-dark-gray);
  cursor: pointer;
}
.priceproduct {
  font-weight: 500;
  color: var(--base-green);
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 266px;
  height: 30px;
  flex-shrink: 0;
}
.articlep,
.informations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.informations {
  align-self: stretch;
  padding: var(--padding-xl);
  z-index: 2;
  color: var(--base-dark-green);
}
.articlep {
  border-radius: var(--br-base);
  width: 257px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  text-align: left;
  font-size: var(--textbold-size);
  color: var(--white-black-pure-white);
  font-family: var(--ancien-base-textbaseboldordi);
}
.div17,
.products {
  flex-direction: column;
  justify-content: center;
}
.products {
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: var(--padding-31xl) var(--padding-3xs);
  gap: var(--gap-xl);
}
.div17 {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-31xl);
  font-size: var(--h2-size);
}
.c,
.div17,
.div3 {
  display: flex;
}
.div3 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-31xl) var(--padding-width);
  gap: var(--gap-31xl);
  text-align: left;
  font-size: var(--ancien-base-textbaseboldordi-size);
  color: var(--base-dark-green);
  font-family: var(--ancien-base-textbaseboldordi);
}
.c {
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--blanc);
  width: 100%;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 1200px) {
  .articlep,
  .card {
    width: 257px;
  }
}
@media screen and (max-width: 960px) {
  .navpath {
    align-items: center;
    justify-content: center;
  }
  .articlep,
  .card {
    width: 257px;
  }
  .products {
    padding-left: var(--padding-7xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .navpath {
    align-items: center;
    justify-content: center;
  }
  .description,
  .navpath {
    padding-left: var(--padding-11xs);
    padding-right: var(--padding-11xs);
    box-sizing: border-box;
  }
  .card,
  .div19 {
    align-items: center;
  }
  .card {
    width: 257px;
    justify-content: flex-start;
  }
  .div19 {
    justify-content: center;
  }
  .categories,
  .logos {
    box-sizing: border-box;
  }
  .categories {
    padding-left: var(--padding-11xs);
    padding-right: var(--padding-11xs);
  }
  .logos {
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
  }
  .articlep {
    width: 257px;
  }
  .products {
    padding-left: var(--padding-11xs);
    padding-right: var(--padding-11xs);
    box-sizing: border-box;
  }
}
